<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
    <h4 >Customer List</h4>
    <a th:href="@{/v2/customer/register-view}"  >Add Customer</a>
</div>
<div>
        <table>
            <thead>
            <tr>
                <th >First Name</th><th >Last Name</th><th >Phone</th>
                <th >Email</th><th >Country</th><th >Edit</th><th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${customers}">
                <td th:text="${user.firstName}">firstName</td>
                <td th:text="${user.lastName}">lastName</td>
                <td th:text="${user.phone}">phone</td>
                <td th:text="${user.email}">email</td>
                <td th:text="${user.birthCountry}">birthCountry</td>
                <td>
                    <a  th:href="@{/v2/customer/register-view(userId=${user.id})}" >Edit</a>
                </td>
                <td>
                    <a  th:href="@{/v2/customer/delete(userId=${user.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
</div>
</body>