
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h4 th:text="${titleView}">Customer Registration</h4>
<form th:action="@{/v2/customer/register}" th:method="post" th:object=${customerForm}>
        <input th:field="*{id}" type="hidden"/>
        <input th:field="*{firstName}" type="text" placeholder="First Name"  required/>
        <input th:field="*{lastName}" type="text"  placeholder="Last Name"   />
        <input th:field="*{email}" type="text" placeholder="Email "/>
        <input th:field="*{phone}" type="text" placeholder="Phone"/>
        <input th:field="*{zipcode}" type="text" placeholder="Zip Code " />
        <select th:field=*{birthCountry}>
            <option value="Albania">Albania</option>
            <option value="Kosovo">Kosovo</option>
            <option value="North Macedonia">North Macedonia</option>
        </select>
        <input th:field=*{address}
               type="text"
               placeholder="Address"/>
       <button th:type="submit">Submit</button>
</form>
</body>