<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body>
    <div class="container mx-auto px-6 py-20">
      <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
        <div th:each="user : ${userList}" class="mb-6 flex h-64 w-full flex-col justify-between rounded-lg border border-gray-400 bg-white px-4 py-5 dark:border-gray-700 dark:bg-gray-800">
          <div >
            <h4 th:text="${user.firstName}"  class="mb-3 font-bold text-gray-800 dark:text-gray-100">13 things to work on</h4>            
            <h4 th:text="${user.lastName}" class="mb-3 font-bold text-gray-800 dark:text-gray-100">13 things to work on</h4>            
            <h4 th:text="${user.phone}" class="mb-3 font-bold text-gray-800 dark:text-gray-100">13 things to work on</h4>            
            <h4 th:text="${user.email}" class="mb-3 font-bold text-gray-800 dark:text-gray-100">13 things to work on</h4>            
            <h4 th:text="${user.birthCountry}" class="mb-3 font-bold text-gray-800 dark:text-gray-100">13 things to work on</h4>            
            <h4 th:text="${user.zipcode}" class="mb-3 font-bold text-gray-800 dark:text-gray-100">13 things to work on</h4>            
            <h4 th:text="${user.address}" class="mb-3 font-bold text-gray-800 dark:text-gray-100">13 things to work on</h4>            
          </div>
          <div>
  
          </div>
        </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
