
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!-- Code block header starts -->
<div class="container mx-auto max-w-2xl">
    <div class="my-6 lg:my-12 container px-6 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-4 border-b border-bl">
        <div>
            <h4 class="text-2xl font-bold leading-tight text-gray-800">Customer List</h4>

        </div>
        <div class="">
            <a th:href="@{/v1/customer/register-view}" class= "transition hover:bg-gray-600 bg-gray-800 rounded text-white px-8 py-2 font-semibold text-sm" >Add Customer</a>
        </div>
    </div>
</div>
<!-- Code block header end -->

<!-- Code block table start -->
<div class="container mx-auto max-w-2xl">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-white uppercase bg-gray-800">
            <tr>
                <th scope="col" class="px-6 py-3">First Name</th>
                <th scope="col" class="px-6 py-3">Last Name</th>
                <th scope="col" class="px-6 py-3">Phone</th>
                <th scope="col" class="px-6 py-3">Country</th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Delete</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${customers}"        class="hover:bg-sky-200 ">
                <td th:text="${user.firstName}"     scope="row" class="px-6 py-4 font-medium text-black">firstName</td>
                <td th:text="${user.lastName}"      class="px-6 py-4">lastName</td>
                <td th:text="${user.email}"         class="px-6 py-4">email</td>
                <td th:text="${user.birthCountry}"  class="px-6 py-4">birthCountry</td>
                <td class="px-6 py-4 text-right">
                    <a  th:href="@{/v1/customer/register-view(userId=${user.id})}" class="font-medium text-gray-800 hover:underline">Edit</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a  th:href="@{/v1/customer/delete(userId=${user.id})}" class="font-medium text-gray-800 hover:underline">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- Code block table end -->


</body>