<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Akademia Ikub</h1>
<p>Kjo eshte faqja e pare html ne spring boot</p>
<p th:text="|Shuma e 2+4 = ${2+4}|"> </p>Shuma e 2+4 = 6

</body>